@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

ul, li, p, h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}